table {
    border-collapse: separate;
    border-spacing: 0px 10px;
}

td{
    background-color: gray;
    width: 7vw;
    height: 70px;
    max-width: 10vw;
    overflow: hidden;
    padding: 10px;
    border: solid 1px #000;
    border-style: none solid solid none;
    padding: 10px;
    /* border-top-style: solid; */
}

td:nth-child(even) {
    background-color: darkgray; 
}

tr {
    border-radius: 10px;
}

td:first-child {
    border-top-left-radius: 10px; 
    border-left-style: solid; 
    border-bottom-left-radius: 10px; 
}

td:last-child { 
    background-color: #ff4d4d;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; 
    width: 2vw;
}

td:last-child:hover {
    cursor: pointer;
}

tr:hover {
    cursor: pointer;
}

.not-provided {
    color: lightgray;
}

.report-image {
    width: 6.5vw;
}

#report-details {
    display: none;
    position: fixed;
    background-color: white;
    width: 40vw;
    height: fit-content;
    padding: 20px;
    border-radius: 10px;
    top: 10%;
    left: calc(50% - (40vw / 2));
    z-index: 4;
    color: black;
    flex-flow: column wrap;
    align-items: baseline;
    justify-content: start;
    text-align: left;
    overflow: hidden;
}

#report-details > p {
    width: 35vw;
    margin: 5px;
    margin-left: 3vw;
}

#details-backing {
    position: fixed;
    background-color: black;
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    z-index: 3;
    opacity: 50%;
    display: none;
}

#report-details-image {
    height: 30vh;
    align-self: center;
}

#report-status {
    align-self: center;
    text-align: center;
    font-weight: bold;
    color: rgb(70,70,70);
}

em {
    display: inline;
    color: rgb(99, 99, 99);
}




